<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dubbo.api.dao.ScheduleJobMapper">
	<resultMap id="BaseResultMap" type="com.dubbo.api.vo.ScheduleJob">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="bean_name" jdbcType="VARCHAR" property="beanName" />
		<result column="method_name" jdbcType="VARCHAR" property="methodName" />
		<result column="params" jdbcType="VARCHAR" property="params" />
		<result column="cron_expression" jdbcType="VARCHAR" property="cronExpression" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="crt_time" jdbcType="TIMESTAMP" property="crtTime" />
		<result column="crt_user" jdbcType="VARCHAR" property="crtUser" />
		<result column="crt_name" jdbcType="VARCHAR" property="crtName" />
		<result column="script_id" jdbcType="VARCHAR" property="scriptId" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
	</resultMap>
	<sql id="Base_Column_List">
		id, bean_name, method_name, params, cron_expression, status, remark, crt_time, crt_user, crt_name,script_id,user_id
	</sql>

	<insert id="insertSelective" useGeneratedKeys="true" keyProperty="id"
			parameterType="com.dubbo.api.vo.ScheduleJob">
		insert into schedule_job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="beanName != null">
				bean_name,
			</if>
			<if test="methodName != null">
				method_name,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="cronExpression != null">
				cron_expression,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="crtTime != null">
				crt_time,
			</if>
			<if test="crtUser != null">
				crt_user,
			</if>
			<if test="crtName != null">
				crt_name,
			</if>
			<if test="scriptId != null">
				script_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="beanName != null">
				#{beanName,jdbcType=VARCHAR},
			</if>
			<if test="methodName != null">
				#{methodName,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				#{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="crtTime != null">
				#{crtTime,jdbcType=TIMESTAMP},
			</if>
			<if test="crtUser != null">
				#{crtUser,jdbcType=VARCHAR},
			</if>
			<if test="crtName != null">
				#{crtName,jdbcType=VARCHAR},
			</if>
			<if test="scriptId != null">
				#{scriptId,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>

	<update id="updateById" parameterType="com.dubbo.api.vo.ScheduleJob">
		update schedule_job
		<set>
			<if test="beanName != null">
				bean_name = #{beanName,jdbcType=VARCHAR},
			</if>
			<if test="methodName != null">
				method_name = #{methodName,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="cronExpression != null">
				cron_expression = #{cronExpression,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="crtTime != null">
				crt_time = #{crtTime,jdbcType=TIMESTAMP},
			</if>
			<if test="crtUser != null">
				crt_user = #{crtUser,jdbcType=VARCHAR},
			</if>
			<if test="crtName != null">
				crt_name = #{crtName,jdbcType=VARCHAR},
			</if>
			<if test="scriptId != null">
				script_id = #{scriptId,jdbcType=TINYINT},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

	<update id="updateBatch">
		update schedule_job set status = #{status,jdbcType=INTEGER}
		where id in
		<foreach collection="ids" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	<delete id="deleteBatch">
		delete from schedule_job where id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="selectById" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from schedule_job where id = #{id}
	</select>

	<select id="selectJobListByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from schedule_job
		where id in
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/>
		from schedule_job
	</select>
	<select id="selectByParams" resultType="java.util.HashMap">
		SELECT tm3.id,tm3.cron,tm3.status,tm3.createTime,tm3.description,tm3.typeId,tm3.userName,tm3.projectName,tm3.scriptName,tm3.scriptId,tm3.projectId,eu.`name` as createName FROM
(select sj.id,sj.user_id,sj.cron_expression as cron,sj.`status`,DATE_FORMAT(sj.crt_time,'%Y-%m-%d %H:%i:%s') as createTime,sj.remark as description,tm2.typeId,tm2.userName,tm2.projectName,tm2.scriptName,tm2.scriptId ,tm2.projectId FROM schedule_job sj join
(select tm1.scriptId,tm1.scriptName,tm1.userName,tm1.projectName,ep.type as typeId,ep.id as projectId FROM
(SELECT es.id as scriptId,es.`name` as scriptName,eu.name as userName,es.name as projectName,es.project_id FROM
			 entity_script es join entity_user eu on es.user_id=eu.id) tm1 join  entity_project ep on tm1.project_id=ep.id) tm2 on tm2.scriptId=sj.script_id) tm3 JOIN entity_user eu on tm3.user_id=eu.id;
		ORDER BY createTime DESC
	</select>
</mapper>
